@import url(https://fonts.googleapis.com/css2?family=Roboto&display=swap);
@import url(https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap);
@import url(https://fonts.googleapis.com/css?family=Poppins);
@import url(https://fonts.googleapis.com/css?family=Open+Sans);
@import url(https://fonts.googleapis.com/css?family=Ubuntu);
.hljs {
	padding: 16px;
	border-radius: 2px;
	background-color: #3c3c40;
	color: #ccc;
	font-size: 12px;
	max-height: none
}

.hljs .hljs-subst {
	color: #ccc
}

.hljs .hljs-keyword,
.hljs .hljs-literal,
.hljs .hljs-built_in {
	color: #71beff;
	font-weight: normal
}

.hljs .hljs-string {
	color: #da7c3a
}

.hljs .hljs-title {
	color: #41d0a8;
	font-weight: normal
}

.hljs .hljs-number {
	color: #b2dc93
}

.hljs .hljs-comment,
.hljs .hljs-doctag {
	font-style: normal;
	color: #52b713
}

:root {
	--font-family: "Open Sans", Helvetica, Arial, sans-serif;
	--heading-font-family: "Open Sans", Helvetica, Arial, sans-serif;
	--alt-font-family: "Ubuntu", Helvetica, Arial, sans-serif;
	--success: #03a9f4;
	--highlight-medium: #1194f033
}

html,
body {
	margin: 100;
	padding: 0
}

body {
	background-image: url(https://wallpapercave.com/wp/wp2509344.jpg);
	background-size: cover;
	background-position: center center;
	background-repeat: no-repeat;
	background-attachment: fixed;
	position: relative
}

body:before {
	content: " ";
	background-color: #90afff47;
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%
}

body #main-outlet {
	margin-top: 0rem;
	margin-bottom: 5rem
}

@media screen and (min-width: 925px) {
	.wrap,
	body #main-outlet {
		max-width: 1200px
	}
}

a {
	color: var(--success)
}

a:visited {
	color: var(--success-hover)
}

a:hover {
	color: var(--success)
}

.highlighted {
	animation: background-fade-highlight 0s !important
}

.post-notice.new-user {
	display: none
}

input[type="text"]:focus,
input[type="password"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="date"]:focus,
input[type="month"]:focus,
input[type="time"]:focus,
input[type="week"]:focus,
input[type="number"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="search"]:focus,
input[type="tel"]:focus,
input[type="color"]:focus {
	border-color: var(--tertiary);
	box-shadow: none;
	outline: 0
}

.d-header-wrap.fixed header {
	padding-top: 0
}

d.header #site-logo {
	transition: all 0.2s ease;
}

d.header #site-logo {
	padding-top: 1rem
}

header.d-header.clearfix {
  border-bottom: 1px solid rgba(0, 0, 0, 1);
}

.d-header-wrap.fixed header:before {
	height: 55px;
	opacity: 1;
	transition: all 0.1s 0.1s ease-in;
	backdrop-filter: blur(5px);
	filter: blur(10px)
}

.d-header-wrap header {
	background: linear-gradient(90deg, #00000096 40%, #404b65de 60%);
	box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 0 0 0 rgba(0, 0, 0, 0.12);
	transition: all 0.1s ease-in-out, background 10s ease-in-out;
	padding-top: 0rem
}

.d-header-wrap header:before {
	opacity: 0;
	background: linear-gradient(90deg, #171727ee 40%, #404b65de 60%);
	position: absolute;
	left: 0;
	width: 100%;
	height: 0px;
	top: 0;
	content: " ";
	transition: all 0.1s ease-in
}

div.menu-panel.drop-down::before {
  filter: blur(50px);
}

div.menu-panel.drop-down {
	background: rgba(0, 0, 0, 0.9);
  border-radius: 16px;
}

.d-header-wrap header>div.wrap {
	width: 100%;
	margin: auto;
	padding: 0
}

.d-header-wrap header a.btn-flat,
.d-header-wrap header a.icon {
	background-color: var(--secondary);
	border-radius: 100px;
	margin-left: 10px;
	transition: all 0.2s ease
}

.d-header-wrap header a.btn-flat .d-icon,
.d-header-wrap header a.icon .d-icon {
	color: #6e6e98;
	width: 13px
}

.d-header-wrap header a.btn-flat:hover,
.d-header-wrap header a.icon:hover {
	background-color: #6e6e98
}

.d-header-wrap header a.btn-flat:hover .d-icon,
.d-header-wrap header a.icon:hover .d-icon {
	color: var(--secondary);
}

.d-header-wrap header .d-header-icons .icon {
	box-sizing: border-box;
	height: 40px;
	width: 40px;
	padding: 0;
	border: 0
}

.d-header-wrap header .d-header-icons .icon img.avatar {
	width: 34px;
	height: 34px
}

.d-header-wrap header .d-header-icons .badge-notification {
	top: 0px;
	padding: 3px 6px;
	padding-top: 5px
}

.d-header-wrap header .extra-info-wrapper .topic-link {
	color: var(--primary)
}

.d-header-wrap li.active a.btn-flat,
.d-header-wrap li.active a.icon {
	background-color: var(--header_primary)
}

.d-header-wrap li.active a.btn-flat .d-icon,
.d-header-wrap li.active a.icon .d-icon {
	color: var(--header_background) !important
}

#main-outlet>.list-controls {
	background: linear-gradient(90deg, rgba(23, 25, 25, 0.9) 20%, rgba(23, 25, 25, 0.5) 60%, rgba(23, 25, 25, 0.7) 100%);
	margin-bottom: 1rem;
	border-radius: 8px
}


#main-outlet>.list-controls .navigation-container a.active {
	padding: 1.3rem;
}

#main-outlet>.list-controls .navigation-container .category-breadcrumb {
	display: none
}

#main-outlet>.list-controls .navigation-container .navigation-controls {
	--nav-space: 0;
	display: flex;
	flex-direction: row-reverse;
	flex: 1;
	max-height: 46px
}

#main-outlet>.list-controls .navigation-container .navigation-controls>:first-child button {
	border-radius: 0 8px 8px 0
}

#main-outlet>.list-controls .select-kit.dropdown-select-box {
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	min-height: 46px
}

#main-outlet>.list-controls .select-kit.dropdown-select-box button {
	height: 100%
}

#main-outlet>.list-controls button {
	background-color: rgba(191, 193, 218, 0);
	padding: 1.2rem;
	font-size: 1rem;
	color: #888cb1;
	font-family: var(--heading-font-family);
	margin: 0
}

#main-outlet>.list-controls button .svg-icon {
	width: 0.8rem;
	height: 0.8rem;
	color: #888cb1
}

#main-outlet>.list-controls button.btn .d-button-label {
	font-size: 1rem
}

#main-outlet>.list-controls button:hover {
	color: #03a9f4
}

#main-outlet>.list-controls button:hover .svg-icon {
	color: #03a9f4
}

#main-outlet>.list-controls ul.nav {
	border-top-left-radius: 8px;
	border-bottom-left-radius: 8px;
	margin: 0;
	height: 100%;
	overflow: hidden
}

#main-outlet>.list-controls ul.nav li {
	margin: 0
}

#main-outlet>.list-controls ul.nav li a {
	background-color: rgba(136, 140, 177, 0);
	padding: 1.2rem;
	color: #888cb1;
	font-family: var(--heading-font-family)
}

#main-outlet>.list-controls ul.nav li a:hover {
	color: #03a9f4
}

#main-outlet>.list-controls ul.nav li a.active {
	background-color: transparent;
	color: var(--primary) !important;
	font-weight: bold
  
}

#main-outlet>.list-controls ul.nav li li:first-of-type a {
	border-radius: 7px 0 0 7px
}

nav.post-controls {
	font-size: 12px
}

.nav-pills>li a,
.list-controls .combo-box .combo-box-header,
.list-controls button.btn,
.list-controls button.btn:hover {
	border: none;
	background-color: transparent;
	color: var(--header_primary-low-mid)
}

.nav-pills>li a.active,
.nav-pills>li a:hover {
	background-color: transparent;
	color: var(--primary)
}


.container.show-badge {
	background-color: var(--secondary);
	border-radius: 8px;
	box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 0 0 0 rgba(0, 0, 0, 0.12);
	padding: 2rem
}

.category-list,
.category-list.with-topics {
	margin-left: 0;
	background: linear-gradient(90deg, rgba(23, 25, 25, 0.9) 20%, rgba(23, 25, 25, 0.8) 50%, rgba(23, 25, 25, 0.9) 80%) !important;
	border-radius: 10px !important;
}

.category-list .category,
.category-list.with-topics .category {
	border-radius: 10px;
	box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
	margin-top: 0rem;
	margin-right: 2rem;
	overflow: hidden;
	position: relative;
	width: 100%;
	display: grid;
	grid-template-columns: repeat(1, 1fr);
	grid-template-rows: auto 1fr;
	grid-column-gap: 0px;
	grid-row-gap: 0px
}

.category-list.with-topics>thead tr th {
	border-bottom: 8px;
	padding: 16px;
	font-weight: 800;
	font-size: 1rem;
	color: var(--primary);
}

@media screen and (max-width: 768px) {
	.category-list .category,
	.category-list.with-topics .category {
		display: flex;
		flex-direction: column
	}
}

.category-list .category .category-head,
.category-list.with-topics .category .category-head {
	//background: linear-gradient(90deg, rgba(23, 25, 25, 0.9) 20%, rgba(23, 25, 25, 0.5) 60%, rgba(23, 25, 25, 0) 100%) !important;
	background-size: cover;
	background-position: center;
	box-sizing: border-box;
	display: grid;
	margin: 0;
	overflow: hidden;
	position: relative;
	padding: 1rem;
	margin-bottom: 16px;
	border-radius: 8px;
	transition: all 0.5s ease;
	grid-area: 1 / 1 / 2 / 1
}

@media screen and (max-width: 768px) {
	.category-list .category .category-head,
	.category-list.with-topics .category .category-head {
		display: flex;
		flex-direction: row;
		flex-wrap: wrap
	}
}

.category-list .category .category-head:before,
.category-list.with-topics .category .category-head:before {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	content: " ";
	background-color: rgba(0, 0, 0, 0.2);
	border-radius: 8px;
	z-index: 1
}

.category-list.with-topics .category .category-head:hover {
	transition: all 0.5s ease;
	background-color: rgba(23, 25, 25, 0.4);
	border-radius: 32px;
}

.category-list {
	table-layout: fixed;
	.category-text-title {
	  display: inline;
	  align-items: baseline;
	}
}

.category-list .category .category-head .category-title-link,
.category-list.with-topics .category .category-head .category-title-link {
	flex: 1;
	margin-right: 1rem;
	padding-right: 1rem;
	display: flex;
	flex-direction: column;
	z-index: 1;
	position: relative
}

.category-list .category .category-head .category-title-link .category-name,
.category-list.with-topics .category .category-head .category-title-link .category-name {
	color: white;
	font-size: 2rem;
	font-weight: bold;
	font-family: var(--alt-font-family);
	margin: 0 0 0.5rem 0;
	padding: 0;
	overflow: visible
}

.category-list .category .category-head .category-title-link .category-description,
.category-list.with-topics .category .category-head .category-title-link .category-description {
	color: #adadad;
	font-size: 1rem;
	margin: 0;
	padding: 0;
}

.category-list .category .category-head .stats,
.category-list.with-topics .category .category-head .stats {
	color: #888cb1;
	display: flex;
	font-size: 0.8rem;
	flex-direction: column;
	justify-content: center;
	overflow: hidden;
	padding: 0rem;
	position: relative;
	text-align: center;
	z-index: 2
}

.category-list .category .category-head .stats .badge-notification,
.category-list.with-topics .category .category-head .stats .badge-notification {
	background-color: rgba(236, 28, 36, 0.9);
	border-radius: 2px;
	padding: 0.8rem 1rem;
	color: var(--secondary);
	font-size: 0.9rem;
	font-weight: bold
}

.category-list .category[data-category-id="14"] .subcategories .badge.badge-notification,
.category-list .category[data-category-id="14"] .topics .badge.badge-notification,
.category-list.with-topics .category[data-category-id="14"] .subcategories .badge.badge-notification,
.category-list.with-topics .category[data-category-id="14"] .topics .badge.badge-notification {
	background-color: #ce422b !important;
	display: none;
}

.category-list .category[data-category-id="9"] .category-head .category-description,
.category-list.with-topics .category[data-category-id="9"] .category-head .category-description {
	color: #c0e5ff !important
}

.category-list .category[data-category-id="9"] .category-head:before,
.category-list.with-topics .category[data-category-id="9"] .category-head:before {
	background: linear-gradient(90deg, rgba(17, 148, 240, 0.7) 20%, rgba(17, 148, 240, 0.3) 60%, rgba(17, 148, 240, 0.4) 100%)
}

.category-list .category[data-category-id="9"] .subcategories .badge.badge-notification,
.category-list .category[data-category-id="9"] .topics .badge.badge-notification,
.category-list.with-topics .category[data-category-id="9"] .subcategories .badge.badge-notification,
.category-list.with-topics .category[data-category-id="9"] .topics .badge.badge-notification {
	background-color: #1194f0 !important
}

.category-list .category[data-category-id="5"] .subcategories .badge.badge-notification,
.category-list .category[data-category-id="5"] .topics .badge.badge-notification,
.category-list.with-topics .category[data-category-id="5"] .subcategories .badge.badge-notification,
.category-list.with-topics .category[data-category-id="5"] .topics .badge.badge-notification {
	background-color: #ed207b !important
}

.category-list .category .subcategories,
.category-list.with-topics .category .subcategories {
	background-color: rgba(0, 0, 0, 0);
	display: grid;
	flex-direction: column;
	grid-area: 2 / 1 / 2 / 4;
	margin: 0;
	padding: 0rem
}

.category-list .category .subcategories .subcategory,
.category-list.with-topics .category .subcategories .subcategory {
	align-items: right;
	display: flex;
	margin-bottom: 2px
}

.category-list .category .subcategories .subcategory .badge-wrapper,
.category-list .category .subcategories .subcategory .bage-wrapper.box,
.category-list.with-topics .category .subcategories .subcategory .badge-wrapper,
.category-list.with-topics .category .subcategories .subcategory .bage-wrapper.box {
	padding: 0
}

.category-list .category .subcategories .subcategory .badge-wrapper .badge-category-bg,
.category-list .category .subcategories .subcategory .bage-wrapper.box .badge-category-bg,
.category-list.with-topics .category .subcategories .subcategory .badge-wrapper .badge-category-bg,
.category-list.with-topics .category .subcategories .subcategory .bage-wrapper.box .badge-category-bg {
	display: none
}

.category-list .category .subcategories .subcategory .badge-wrapper span.badge-category,
.category-list .category .subcategories .subcategory .bage-wrapper.box span.badge-category,
.category-list.with-topics .category .subcategories .subcategory .badge-wrapper span.badge-category,
.category-list.with-topics .category .subcategories .subcategory .bage-wrapper.box span.badge-category {
	align-items: center;
	background-color: var(--secondary);
	border-radius: 8px;
	display: flex;
	padding: 0.2rem;
	min-width: 300px;
	color: var(--primary);
	font-weight: bold;
	transition: all 0.5s ease
}

.category-list .category .subcategories .subcategory .badge-wrapper span.badge-category>svg,
.category-list .category .subcategories .subcategory .bage-wrapper.box span.badge-category>svg,
.category-list.with-topics .category .subcategories .subcategory .badge-wrapper span.badge-category>svg,
.category-list.with-topics .category .subcategories .subcategory .bage-wrapper.box span.badge-category>svg {
	margin-left: 4px;
	fill: #171928
}

.category-list .category .subcategories .subcategory .badge-wrapper span.badge-category .category-name,
.category-list .category .subcategories .subcategory .bage-wrapper.box span.badge-category .category-name,
.category-list.with-topics .category .subcategories .subcategory .badge-wrapper span.badge-category .category-name,
.category-list.with-topics .category .subcategories .subcategory .bage-wrapper.box span.badge-category .category-name {
	color: var(--primary);
	font-size: 1rem;
	margin: 0;
	padding: 0.2rem;
	transition: all 0.2s ease
}

.category-list .category .subcategories .subcategory .badge-wrapper span.badge-category:hover,
.category-list .category .subcategories .subcategory .bage-wrapper.box span.badge-category:hover,
.category-list.with-topics .category .subcategories .subcategory .badge-wrapper span.badge-category:hover,
.category-list.with-topics .category .subcategories .subcategory .bage-wrapper.box span.badge-category:hover {
	background: linear-gradient(90deg, rgba(255, 255, 255, 0.9) 20%, rgba(255, 255, 255, 0.7) 60%, rgba(255, 255, 255, 0) 100%);
	padding: 0.25rem 0.5rem;
}

.category-list .category .subcategories .subcategory .badge-wrapper span.badge-category:hover .category-name,
.category-list .category .subcategories .subcategory .bage-wrapper.box span.badge-category:hover .category-name,
.category-list.with-topics .category .subcategories .subcategory .badge-wrapper span.badge-category:hover .category-name,
.category-list.with-topics .category .subcategories .subcategory .bage-wrapper.box span.badge-category:hover .category-name {
	color: var(--secondary);
}

.category-list .category .subcategories .subcategory .badge-notification.new-posts,
.category-list.with-topics .category .subcategories .subcategory .badge-notification.new-posts {
	padding: 5px 7px;
	background-color: #ec1c24;
	color: white;
	border-radius: 5px;
	margin: 0;
	margin-right: 10px
}

.category-list .category .topics,
.category-list.with-topics .category .topics {
	background-color: #000;
	box-sizing: border-box;
	grid-area: 2 / 2 / 3 / 3;
	padding: 1rem;
	text-align: left;
	width: 100%;
	max-width: 450px
}

.category-list .category .topics>.featured-topic,
.category-list.with-topics .category .topics>.featured-topic {
	display: flex;
	flex-direction: row;
	font-size: 14px;
	margin: 0 0 2px 0;
	justify-content: center;
	align-items: center
}

.category-list .category .topics>.featured-topic>:first-child,
.category-list.with-topics .category .topics>.featured-topic>:first-child {
	border-top-left-radius: 4px;
	border-bottom-left-radius: 4px;
	overflow: hidden
}

.category-list .category .topics>.featured-topic>:last-child,
.category-list.with-topics .category .topics>.featured-topic>:last-child {
	border-top-right-radius: 16px;
	border-bottom-right-radius: 4px;
	overflow: hidden
}

.category-list .category .topics>.featured-topic .topic-statuses,
.category-list.with-topics .category .topics>.featured-topic .topic-statuses {
	float: none;
	margin: 0;
	padding: 0
}

.category-list .category .topics>.featured-topic .topic-statuses .topic-status,
.category-list .category .topics>.featured-topic .topic-statuses a,
.category-list.with-topics .category .topics>.featured-topic .topic-statuses .topic-status,
.category-list.with-topics .category .topics>.featured-topic .topic-statuses a {
	background-color: #f3f4ff;
	display: flex;
	align-items: center;
	padding: 0 4px;
	margin: 0;
	transition: all 0.1s ease-out;
	min-height: 26px
}

.category-list .category .topics>.featured-topic .topic-statuses .topic-status>svg,
.category-list .category .topics>.featured-topic .topic-statuses a>svg,
.category-list.with-topics .category .topics>.featured-topic .topic-statuses .topic-status>svg,
.category-list.with-topics .category .topics>.featured-topic .topic-statuses a>svg {
	color: white;
}

.category-list .category .topics>.featured-topic .topic-statuses a.topic-status:hover,
.category-list.with-topics .category .topics>.featured-topic .topic-statuses a.topic-status:hover {
	background-color: #e9ebff;
	color: #03a9f4;
	padding: 0 8px
}

.category-list .category .topics>.featured-topic .topic-statuses a.topic-status:hover svg,
.category-list.with-topics .category .topics>.featured-topic .topic-statuses a.topic-status:hover svg {
	color: #03a9f4
}

.category-list .category .topics>.featured-topic a.title,
.category-list.with-topics .category .topics>.featured-topic a.title {
	align-items: center;
	background-color: #f3f4ff;
	box-sizing: border-box;
	color: var(--primary);
	display: block;
	font-weight: bold;
	padding: 0.25rem 0.5rem;
	margin-right: 0;
	height: 20px;
	transition: all 0.1s ease-out;
	min-height: 26px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	width: 100%
}

.category-list .category .topics>.featured-topic a.title:hover,
.category-list.with-topics .category .topics>.featured-topic a.title:hover {
	background-color: #e9ebff;
	color: #03a9f4;
	padding: 0.25rem 0.75rem
}

.category-list .category .topics>.featured-topic:last-of-type,
.category-list.with-topics .category .topics>.featured-topic:last-of-type {
	border-bottom: none
}

.category-list .category .topics>.featured-topic .last-posted-at,
.category-list.with-topics .category .topics>.featured-topic .last-posted-at {
	align-items: center;
	background-color: #f3f4ff;
	display: flex;
	height: 20px;
	padding: 0.25rem;
	box-sizing: border-box;
	text-align: center;
	width: 50px;
	transition: all 0.1s ease-out;
	min-height: 26px
}

.category-list .category .topics>.featured-topic .last-posted-at:hover,
.category-list.with-topics .category .topics>.featured-topic .last-posted-at:hover {
	background-color: #e9ebff;
	color: #03a9f4;
	padding: 0.25rem 0.5rem
}

.category-list .category .topics>.featured-topic .last-posted-at .relative-date,
.category-list.with-topics .category .topics>.featured-topic .last-posted-at .relative-date {
	width: 100%
}

.category-list .category .topics>.featured-topic .topic-post-badges,
.category-list.with-topics .category .topics>.featured-topic .topic-post-badges {
	display: flex
}

.category-list .category .topics>.featured-topic .topic-post-badges .badge.badge-notification.new-topic,
.category-list .category .topics>.featured-topic .topic-post-badges .badge.badge-notification.new-posts,
.category-list.with-topics .category .topics>.featured-topic .topic-post-badges .badge.badge-notification.new-topic,
.category-list.with-topics .category .topics>.featured-topic .topic-post-badges .badge.badge-notification.new-posts {
	align-items: center;
	box-sizing: border-box;
	display: flex;
	justify-content: center;
	margin: 0;
	min-height: 26px
}

.category-list .category .topics>.featured-topic .badge-notification.new-topic::before,
.category-list.with-topics .category .topics>.featured-topic .badge-notification.new-topic::before {
	display: none
}

.category-list .category .topics>.featured-topic .badge-notification.new-topic,
.category-list .category .topics>.featured-topic .badge-notification.new-posts,
.category-list.with-topics .category .topics>.featured-topic .badge-notification.new-topic,
.category-list.with-topics .category .topics>.featured-topic .badge-notification.new-posts {
	padding: 3px 4px;
	background-color: #ec1c24;
	color: white;
	border-radius: 5px;
	margin: 0;
	margin-right: 10px;
	margin-left: -10px;
	line-height: 1
}

body.category .category-heading {
	display: none
}

body.category.categories-list div.list-controls {
	margin-bottom: 0 !important;
	border-radius: 8px 8px 0 0 !important
}

body.category.categories-list div.list-controls #navigation-bar {
	border-bottom-left-radius: 0;
	border-bottom-right-radius: 0
}

body.category.categories-list div.list-controls #navigation-bar li:first-of-type a {
	border-radius: 0 !important
}

body.category.categories-list div.list-controls .navigation-controls {
	margin-bottom: 0
}

body.category.categories-list #header-list-area {
	background-color: white;
	padding: 1rem;
	margin-bottom: 1rem;
	border-radius: 0 0 8px 8px
}

body.category .category-heading {
	padding: 2rem;
	border-radius: 9px 9px 0 0;
	position: relative;
	overflow: hidden;
	background-size: cover;
	background-position: center
}

body.category .category-heading:before {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	content: " ";
	background: linear-gradient(90deg, rgba(23, 25, 25, 0.9) 20%, rgba(23, 25, 25, 0.5) 60%, rgba(23, 25, 25, 0.7) 100%)
}

div.category-logo.aspect-image {
	width: 64px !important;
	height: 64px !important;
}

body.category .category-heading .category-logo,
body.category .category-heading .category-logo img {
	width: 64px !important;
	height: 64px !important;
	margin: 0;
	border-radius: 10px;
	position: relative;
	margin-right: 10rem
}

@media screen and (max-width: 768px) {
	body.category .category-heading .category-logo,
	body.category .category-heading .category-logo img {
		width: 40px;
		height: 40px
	}
}

body.category .category-heading .category-logo img,
body.category .category-heading .category-logo img img {
	margin-right: 1rem
}

body.category .category-heading p {
	color: var(--primary);
	position: relative
}

@media screen and (max-width: 768px) {
	body.category .category-heading p {
		font-size: 1rem
	}
}

body.category .list-container:before,
body.category .list-container .row:before {
	display: none
}

@media screen and (max-width: 768px) {
	body .category-boxes,
	body .category-boxes-with-topics {
		flex-direction: column
	}
	body .category-boxes .category-box,
	body .category-boxes-with-topics .category-box {
		width: 100%
	}
}

body .category-boxes .category-box .category-box-heading a h3,
body .category-boxes-with-topics .category-box .category-box-heading a h3 {
	text-align: left
}

.reviewable #main-outlet,
body.admin-interface #main-outlet,
body.badges-page #main-outlet,
body.users-page #main-outlet,
body.user-activity-page #main-outlet,
body.user-invites-page #main-outlet,
body.user-preferences-page #main-outlet,
body.static-faq #main-outlet,
body.about-page #main-outlet,
body.static-tos #main-outlet,
body.user-notifications-page #main-outlet,
body.user-messages-page #main-outlet,
body.user-badges-page #main-outlet,
body.user-preferences-page #main-outlet,
body.static-privacy #main-outlet,
body.tags-page #main-outlet,
body.search-page #main-outlet,
body.groups-page #main-outlet,
body.static-guidelines #main-outlet {
	background-color: var(--secondary);
	box-sizing: border-box;
	border-radius: 8px;
	box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 0 0 0 rgba(0, 0, 0, 0.12);
	padding: 2rem
}

div.edit-category {
	background-color: var(--secondary);
	box-sizing: border-box;
	border-radius: 8px;
	box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 0 0 0 rgba(0, 0, 0, 0.12);
	padding: 2rem
}

.reviewable {
	background-color: var(--secondary);
	box-sizing: border-box;
	border-radius: 8px;
	padding: 2rem
}

.topic-list-bottom {
	align-items: center;
	background: linear-gradient(90deg, rgba(23, 25, 25, 0.9) 20%, rgba(23, 25, 25, 0.5) 60%, rgba(23, 25, 25, 0.7) 100%);
	border-radius: 8px;
	display: flex;
	flex-direction: row-reverse;
	padding: 1rem
}

.topic-list-bottom div.education {
	color: var(--primary);
	border-top: none;
	border-bottom: 1px solid rgba(var(--primary-rgb), 0.2);
	margin-bottom: 1rem;
	padding: 1rem
}

.topic-list-bottom div.education p:first-of-type {
	margin-top: 0
}

.topic-list-bottom .btn-default {
	margin: 0;
	margin-left: 0;
	float: none
}

.topic-list-bottom .footer-message {
	flex: 1
}

.topic-list-bottom .footer-message h3 {
	color: var(--primary);
	margin-bottom: 0;
	margin-right: 1rem;
	padding: 1rem
}

table.topic-list {
	background: linear-gradient(90deg, rgba(23, 25, 25, 0.9) 30%, rgba(23, 25, 25, 0.5) 60%, rgba(23, 25, 25, 0.3) 100%); 
	border-radius: 8px
}

table.topic-list>thead tr {
	border-bottom: 0;
}

table.topic-list>thead tr th {
  background: linear-gradient(0deg, rgba(23, 25, 25, 0.9) 30%, rgba(23, 25, 25, 0.5) 60%, rgba(23, 25, 25, 0.3) 100%);

	border-bottom: 0;
	font-weight: bold
}

table.topic-list>thead tr th:first-child {
	border-top-left-radius: 8px;
	padding-left: 2rem
}

table.topic-list>thead tr th:last-child {
	border-top-right-radius: 8px;
	padding-right: 2rem
}

table.topic-list>tbody {
	border: none
}

table.topic-list>tbody tr {
	border-bottom: 1px solid var(--primary-low);
}

table.topic-list>tbody tr:last-of-type {
	border-bottom: 0;
}

table.topic-list>tbody tr.topic-list-item-separator {
	background-color: var(--highlight)
}

table.topic-list>tbody tr.topic-list-item-separator td {
	padding: 1px
}

table.topic-list>tbody tr.topic-list-item-separator span {
	background-color: var(--highlight);
	border-radius: 4px;
	color: var(--secondary);
	font-family: var(--heading-font-family)
}

table.topic-list>tbody tr td {
	background-color: transparent;
	border-bottom: 0 !important
}

table.topic-list>tbody tr td:first-of-type {
	padding-left: 2rem
}

@media screen and (max-width: 768px) {
	table.topic-list>tbody tr td:first-of-type {
		padding-left: 1rem
	}
}

table.topic-list>tbody tr td:last-of-type {
	padding-right: 2rem
}

@media screen and (max-width: 768px) {
	table.topic-list>tbody tr td:last-of-type {
		padding-left: 1rem
	}
}

table.topic-list>tbody tr td.main-link .link-top-line {
	display: block;
	font-size: 1rem;
	font-weight: bold;
	margin-bottom: 4px;
	overflow: hidden;
	max-width: 90%;
	text-overflow: ellipsis
}

table.topic-list>tbody tr td.main-link .link-top-line a.title {
	font-family: var(--heading-font-family)
}

table.topic-list>tbody tr td.main-link .link-top-line a:hover {
	color: #03a9f4
}

table.topic-list>tbody tr td.main-link .link-top-line .topic-post-badges .badge.new-topic {
	top: -2px
}

table.topic-list>tbody tr td.main-link .link-top-line .topic-post-badges .badge.new-topic:before {
	background: var(--success);
	width: 6px;
	height: 6px
}

table.topic-list>tbody tr td.main-link .link-bottom-line {
	opacity: 0.7;
	transition: all 0.2s ease
}

table.topic-list>tbody tr td.main-link .link-bottom-line:hover {
	opacity: 1
}

table.topic-list>tbody tr td.main-link .link-bottom-line .discourse-tags a.discourse-tag.box {
	padding: 0px 6px;
	transition: all 0.2s ease
}

table.topic-list>tbody tr td.main-link .link-bottom-line .discourse-tags a.discourse-tag.box:hover {
	padding: 0px 8px
}

table.topic-list>tbody tr td.main-link .link-bottom-line .badge-wrapper.box .badge-category-parent-bg {
	display: none
}

table.topic-list>tbody tr td.main-link .link-bottom-line .badge-wrapper.box .badge-category-bg {
	left: 0;
	width: auto
}

table.topic-list>tbody tr td.main-link .link-bottom-line .badge-wrapper.box .badge-category.clear-badge {
	margin-left: 0;
	padding: 0 2px;
	transition: all 0.2s ease;
	color: white;
}

table.topic-list>tbody tr td.main-link .link-bottom-line .badge-wrapper.box:hover .badge-category.clear-badge {
	padding: 0 4px
}

table.topic-list>tbody tr td.posters {
	width: 150px
}

table.topic-list>tbody tr td.posters a {
	background-color: rgba(0, 0, 0, 0);
	margin-right: 2px;
	position: relative
}

table.topic-list>tbody tr td.posters a:last-child {
	margin-right: 0
}

table.topic-list>tbody tr td.posters a:hover {
	z-index: 1
}

table.topic-list>tbody tr td.posters img {
	background-color: #fff;
	box-shadow: 0 0px 2px rgba(3, 169, 244, 0);
	width: 22px;
	height: 22px;
	transition: all 0.2s ease
}

table.topic-list>tbody tr td.posters img:hover {
	transform: scale(150%);
	box-shadow: 0 2px 5px #03a9f4
}

@media screen and (max-width: 768px) {
	.list-area {
		margin-bottom: 0
	}
}

.archetype-regular #topic-title {
	background-color: transparent;
	border-radius: 16px;
	padding: 0rem 0.1rem 0.1rem 1.5rem;
	margin: 0
}

#topic-title h1 a {
    color: white;
	text-shadow: 2px 2px black;
}

.title-wrapper
{
	color: white !important;
}

.archetype-regular #topic-title .container {

}

.archetype-regular #topic-title .container .title-wrapper {
	flex-wrap: wrap;
	width: 100%
}

.archetype-regular .title-voting {
	float: right;
	padding-right: 1.5rem
}

.container.posts .topic-status-info {
	border: none
}

.container.posts article#post_1 {
	border-top-left-radius: 0;
	border-top-right-radius: 0
}

.container.posts article#post_1 .topic-meta-data {
  border-radius: 10px;
}

.container.posts article.onscreen-post {
	background-color: transparent;
	border-radius: 8px;
	margin-bottom: 1rem
}

.container.posts article.onscreen-post div.row {
	position: relative;
	display: block;
	padding: 0;
}

.container.posts article.onscreen-post div.row .topic-avatar {
	position: absolute;
	top: 1rem;
	left: 1rem;
	margin: 0;
	padding: 0;
	width: 44px;
	height: 44px
}

.container.posts article.onscreen-post div.row .topic-body {
	width: auto;
	width: -webkit-fill-available;
	padding: 0;
	background: linear-gradient(90deg, rgba(23, 25, 25, 0.9) 30%, rgba(29, 29, 29, 0.8) 50%, rgba(36, 36, 36, 0.9) 100%);
	border-radius: 8px
}

div .topic-body .cooked {
	background-color: transparent;
}

.container.posts article.onscreen-post div.row .topic-body .cooked {
	margin: 1.5rem 0;
  background-color: none;
}

.container.posts article.onscreen-post div.row .topic-body .topic-meta-data {
	background: linear-gradient(90deg, rgba(23, 25, 25, 0.9) 30%, rgba(23, 25, 25, 0.5) 60%, rgba(23, 25, 25, 0.3) 100%);
  margin: 0;
	padding: 1rem 2rem 1.5rem 70px;
	border-top-left-radius: 8px;
	border-top-right-radius: 8px;
  border-radius: 10px;
	min-height: 44px
}

.container.posts article.onscreen-post div.row .topic-body .topic-meta-data .full-name {
	font-size: 1.5rem;
	font-weight: bold
}

.container.posts article.onscreen-post div.row .topic-body .topic-meta-data .username {
	opacity: 1;
	background-color: transparent;
	padding: 3px;
	border-radius: 4px;
	font-size: 1.5rem;
	font-family: var(--heading-font-family);
}

.container.posts article.onscreen-post div.row .topic-body .topic-meta-data .username a {
	color: var(--primary)
}

.container.posts article.onscreen-post div.row .topic-body .contents {
	padding: 0 1.5rem
}

.timeline-container .topic-timeline .timeline-handle {
	background-color: var(--success)
}

.timeline-container .topic-timeline .timeline-scrollarea {
	border-left: 2px solid;
	border-color: rgba(23, 25, 25, 0.7)
}

.timeline-container .topic-timeline .start-date,
.timeline-container .topic-timeline .now-date {
	text-shadow: 0 1px 0 rgba(0, 0, 0, 0.5)
}

.timeline-container .topic-timeline .timeline-scroller-content {
	border-radius: 4px;
	text-shadow: 0 1px 0 rgba(0, 0, 0, 0.5)
}

.timeline-container .topic-timeline .timeline-scroller-content .timeline-replies {
	font-size: 1rem
}

.timeline-container .topic-timeline .timeline-scroller-content .timeline-ago {
	font-size: 0.75rem
}

.gap,
.time-gap {
	background-color: rgba(23, 25, 25, 0.7);
	border-radius: 8px;
	margin-bottom: 0.5rem;
	padding: 1rem
}

.gap .small-action-desc.time-gap,
.time-gap .small-action-desc.time-gap {
	padding: 0
}

.archetype-regular .small-action,
.small-action {
	background-color: rgba(23, 25, 25, 0.7);
	border-top: 0;
	border-radius: 4px;
	margin-bottom: 0.5rem;
	padding: 1rem
}

.archetype-regular .small-action .small-action-desc,
.small-action .small-action-desc {
	color: var(--primary-low-mid)
}

.archetype-regular .small-action .small-action-desc a.trigger-user-card,
.small-action .small-action-desc a.trigger-user-card {
	display: flex;
	align-items: center
}

.archetype-regular .small-action .topic-avatar,
.small-action .topic-avatar {
	display: flex;
	align-items: center;
	justify-content: center;
	align-self: center;
	padding: 0
}

.archetype-regular .small-action .topic-avatar>svg,
.small-action .topic-avatar>svg {
	font-size: 1.25rem;
	color: var(--primary-low-mid);
	width: 32px
}

.topic-map {
	background: transparent;
	border-bottom: 0;
	border-left: 0;
	border-right: 0;
	margin: 1rem 0 0 0
}

.topic-map .map {
	padding: 1rem
}

.topic-map .map nav.buttons .btn {
	background-color: transparent
}

.topic-map .topic-map-expanded {
	padding: 1rem
}

.topic-map .topic-map-expanded>section {
	padding: 1rem
}

body.user-summary-page .viewing-self .user-main .about.has-background .details {
	border-radius: 8px
}

body.user-summary-page .viewing-self .user-main .about.has-background .details .primary {
	position: relative;
	padding: 0;
	top: auto;
	left: auto;
	right: auto
}

body.user-summary-page .viewing-self .user-main .about.has-background .details .primary .primary-textual {
	color: var(--primary);
	color: var(--primary)
}

body.user-summary-page .viewing-self .user-main .about.has-background .details .primary .primary-textual .username,
body.user-summary-page .viewing-self .user-main .about.has-background .details .primary .primary-textual .full-name {
	color: var(--primary)
}

body.user-summary-page .user-main {
	border-radius: 8px;
	position: relative
}

body.user-summary-page .user-main .about.has-background .user-profile-image {
	border-top-left-radius: 8px;
	border-top-right-radius: 8px;
	position: relative
}

body.user-summary-page .user-main .about.has-background .user-profile-image:before {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	border-top-left-radius: 8px;
	border-top-right-radius: 8px;
	content: " ";
	background: linear-gradient(90deg, rgba(23, 25, 25, 0.9) 20%, rgba(23, 25, 25, 0.5) 60%, rgba(23, 25, 25, 0.7) 100%);
	z-index: 1
}

body.user-summary-page .user-main .about.has-background .details {
	padding: 2rem
}

body.user-summary-page .user-main .about.has-background .staff-counters {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	border-top-left-radius: 8px;
	border-top-right-radius: 8px;
	z-index: 2
}

body.user-summary-page .user-main .about.has-background .details .primary {
	box-sizing: border-box;
	position: absolute;
	top: 2rem;
	right: 0;
	left: 0;
	padding: 2rem;
	z-index: 2
}

body.user-summary-page .user-main .about.has-background .details .primary .primary-textual {
	color: var(--secondary)
}

body.user-summary-page .user-main .about.has-background .details .primary .primary-textual .username {
	color: var(--secondary)
}

body.user-summary-page .user-main .about.has-background .details .primary .primary-textual .full-name {
	color: var(--secondary)
}

body.user-summary-page .user-main .about.has-background .details .secondary {
	border-top: 0;
	margin-top: 0
}

body.user-summary-page .user-main .about.no-background .details {
	padding: 2rem;
	border-radius: 8px
}

body.user-summary-page .user-main .about .details {
	border-bottom-left-radius: 8px;
	border-bottom-right-radius: 8px;
	box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 0 0 0 rgba(0, 0, 0, 0.12)
}

body.user-summary-page .user-main .user-content-wrapper {
	background-color: var(--secondary);
	border-radius: 8px;
	box-sizing: border-box;
	box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 0 0 0 rgba(0, 0, 0, 0.12);
	padding: 2rem
}

body.archetype-private_message #main-outlet {
	max-width: 760px;
	position: relative;
	left: -45px
}

body.archetype-private_message #topic-title {
	background-color: #f7f7ff;
	border-top-left-radius: 8px;
	border-top-right-radius: 8px;
	padding: 1.5rem 1.5rem 0 1.5rem;
	margin: 0 3px 0 1px
}

body.archetype-private_message .post-stream .topic-list {
	border-left: 0
}

@media screen and (min-width: 925px) {
	.archetype-regular #topic-footer-buttons #topic-footer-button-share-and-invite,
	.archetype-regular #topic-footer-buttons .topic-notifications-button {
		display: none
	}
	.archetype-regular #topic-footer-buttons .topic-footer-main-buttons {
		justify-content: center
	}
	.archetype-regular .title-voting {
		float: right
	}
	.archetype-regular .topic-avatar,
	.archetype-regular .topic-body {
		border-top: 0;
		padding-top: 2rem
	}
	.archetype-regular .container.posts {
		position: relative;
		display: block
	}
	.archetype-regular .container.posts .topic-navigation>div {
		position: absolute;
		right: -135px
	}
	.archetype-regular .topic-post {
		border-left: 0
	}
	.archetype-regular .topic-post .row {
		display: flex
	}
	.archetype-regular .topic-post .row .topic-avatar,
	.archetype-regular .topic-post .row .topic-body {
		float: none
	}
	.archetype-regular .topic-post .row .topic-body {
		flex-grow: 1
	}
	.archetype-regular .topic-post .actions {
		opacity: 0.5
	}
	.archetype-regular .topic-post:hover .actions {
		opacity: 1
	}
	.archetype-regular #main-outlet {
		max-width: 760px;
		position: relative;
		left: -45px
	}
	.topic-navigation {
		color: var(--primary);
		--primary-med-or-secondary-med: var(--primary);
		--tertiary-low-or-tertiary-high: var(--primary);
		text-shadow: 0px 0px 20px black
	}
}

.title-wrapper .topic-statuses .d-icon {
	color:white !important;
	text-shadow: 2px 2px black;
}

.post-actions {
  background-color: transparent
}

section.post-menu-area{
  background: linear-gradient(-90deg, rgba(23, 25, 25, 0.9) 20%, rgba(23, 25, 25, 0) 40%, rgba(23, 25, 25, 0) 100%);
  transition: all 0.2s ease;
  border-radius: 10px
}

section.post-menu-area:hover{
	background: linear-gradient(-90deg, rgba(33, 35, 35, 1) 20%, rgba(23, 25, 25, 0) 40%, rgba(23, 25, 25, 0) 100%);
}

.categories-and-latest .category-heading {
	display: none
}

.categories-and-latest .latest-topic-list .title {
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
	padding: 0 !important;
	display: inline-block !important;
	max-width: 100%
}